 $main-orange: #FFA615;
$main-green: #93E237;
$main-blue: #3199DB;
$main-pink: #E156E3;
$main-red: #FF0000;



.slick-slider{
  position: relative;
  margin: 0 auto;
}
.slick-list{
  overflow: hidden;
}
.slick-track{
  display: flex;
}

.slick-slide{
  overflow: hidden;

  .slick-active{}
  .slick-current{}
  .slick-center{}
}

.slick-arrow{
  position: absolute;
  top:50%;
  z-index: 10;
  color: rgba(0, 0, 0, 0.25);
  font-family: "IcoFont";
}

.slick-prev{
  left:-50px;
  font-size: 0;

  &:after{
    content: '\eab5';
    font-family: "IcoFont";
    display: block;
    position: absolute;
    font-size: 60px;
    transform: translateY(-50%);
  }

}

.slick-next{
  right:15px;
  font-size: 0;

  &:after{
    content: '\eab8';
    display: block;
    position: absolute;
    font-size: 60px;
    transform: translateY(-50%);
  }
}

.slick-disabled{
  &:after{
    font-size: 0;
  }
}

.slick-dots{
  li{}
  button{}
}

.two-slide-slider{

}

.power-slider{

  .slick-dots{
    position: absolute;
    display: flex;
    width: 21%;
    justify-content: space-between;
    align-items: center;
    right: 0;
    bottom: 0;
    li{
      width: 18%;
      height: 8.3px;
      background: #000;
      opacity: 0.6;
      cursor: pointer;
      
      &:first-child{
        background: $main-orange;
      }
      &:nth-child(2){
        background: $main-blue;
      }
      &:nth-child(3){
        background: $main-green;
      }
      &:nth-child(4){
        background: $main-pink;
      }
      &:last-child{
        background: $main-red;
      }
    }
    .slick-active{
      width: 20%;
      height: 18px;
      opacity: 1;
    }
    button{
      font-size: 0;
    }
  }

}

 .projects-logo-slider{
   .slick-slide {
     overflow: hidden;

   }
   .slick-current{
     .project-logo{
       opacity:1 !important;
     }
     .project-name{
       opacity: 1 !important ;
     }
   }
 }

 .project-photo-nav{
   .slick-track{
      display: block;
   }
 }
 .ebec{
   .slick-current{
     .overlay-photo{
       background: rgba(255, 166, 21, 0.63) ;
     }
   }
 }
 .jf{
   .slick-current{
     .overlay-photo{
       background: linear-gradient(132.68deg, rgba(167, 95, 255, 0.63) 15.76%, rgba(121, 189, 255, 0.63) 92.62%);
     }
   }
 }
 .ir{
   .slick-current{
     .overlay-photo{
       background: rgba(253, 51, 51, 0.63);
     }
   }
 }
 .sc{
   .slick-current{
     .overlay-photo{
       background: rgba(243, 197, 40, 0.63);
     }
   }
 }
 .btw{
   .slick-current{
     .overlay-photo{
       background: rgba(255, 166, 21, 0.63);
     }
   }
 }