.slick-slider {
  position: relative; }

.slick-list {
  overflow: hidden; }

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slick-slide {
  overflow: hidden; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  color: rgba(0, 0, 0, 0.25);
  font-family: "IcoFont"; }

.slick-prev {
  left: -50px;
  font-size: 0; }
  .slick-prev:after {
    content: '\eab5';
    font-family: "IcoFont";
    display: block;
    position: absolute;
    font-size: 60px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.slick-next {
  right: 15px;
  font-size: 0; }
  .slick-next:after {
    content: '\eab8';
    display: block;
    position: absolute;
    font-size: 60px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.slick-disabled:after {
  font-size: 0; }

.power-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 21%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 0;
  bottom: 0; }
  .power-slider .slick-dots li {
    width: 18%;
    height: 8.3px;
    background: #000;
    opacity: 0.6;
    cursor: pointer; }
    .power-slider .slick-dots li:first-child {
      background: #FFA615; }
    .power-slider .slick-dots li:nth-child(2) {
      background: #3199DB; }
    .power-slider .slick-dots li:nth-child(3) {
      background: #93E237; }
    .power-slider .slick-dots li:nth-child(4) {
      background: #E156E3; }
    .power-slider .slick-dots li:last-child {
      background: #FF0000; }
  .power-slider .slick-dots .slick-active {
    width: 20%;
    height: 18px;
    opacity: 1; }
  .power-slider .slick-dots button {
    font-size: 0; }
