p, span, a {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Exo', sans-serif; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 4% 16px 7%; }
  .header__top .logo-img {
    max-width: 100%; }
  .header__top .dd-menu {
    position: absolute;
    z-index: -1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 150px;
    -webkit-box-shadow: 0 42px 22px rgba(0, 0, 0, 0.25);
    box-shadow: 0 42px 22px rgba(0, 0, 0, 0.25);
    opacity: 0;
    -webkit-transition: opacity  1s;
    -o-transition: opacity  1s;
    transition: opacity  1s; }
    .header__top .dd-menu__bridge {
      height: 29px;
      background: initial; }
    .header__top .dd-menu__item {
      text-align: center;
      padding: 11px 0;
      background: #FFFFFF; }
      .header__top .dd-menu__item:hover {
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer; }
        .header__top .dd-menu__item:hover .dd-menu__link {
          color: #1B689B; }
    .header__top .dd-menu__link {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #000; }
  .header__top .menu {
    margin-right: 80px;
    width: 44%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__top .menu__item {
      text-align: center; }
      .header__top .menu__item .menu__link {
        color: #0B0B0B;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500; }
        .header__top .menu__item .menu__link:hover {
          color: #1B689B; }
      .header__top .menu__item:nth-child(3) {
        position: relative; }
        .header__top .menu__item:nth-child(3):after {
          content: "\ea6a";
          font-family: "IcoFont";
          font-size: 20px;
          cursor: pointer; }
        .header__top .menu__item:nth-child(3):hover .dd-menu {
          opacity: 1;
          -webkit-transition: opacity 1s;
          -o-transition: opacity 1s;
          transition: opacity 1s;
          z-index: 3; }
        .header__top .menu__item:nth-child(3):hover:after {
          color: #1B689B;
          content: '\ea67'; }
  .header__top .change-lang {
    position: relative; }
    .header__top .change-lang:hover {
      padding: 10px 0; }
      .header__top .change-lang:hover .dd-menu {
        opacity: 1;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
        z-index: 3; }
      .header__top .change-lang:hover .lang:before {
        color: #1B689B;
        content: '\ea67'; }
    .header__top .change-lang .lang {
      text-transform: uppercase; }
      .header__top .change-lang .lang:before {
        content: "\ea6a";
        font-family: "IcoFont";
        font-size: 20px;
        cursor: pointer; }
      .header__top .change-lang .lang:hover {
        color: #1B689B;
        cursor: pointer; }

.header-body {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  width: 100%;
  position: relative;
  z-index: 1; }
  .header-body .header-overlay {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 113, 185, 0.73)), to(rgba(0, 113, 185, 0.73)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 113, 185, 0.73), rgba(0, 113, 185, 0.73));
    background-image: -o-linear-gradient(bottom, rgba(0, 113, 185, 0.73), rgba(0, 113, 185, 0.73));
    background-image: linear-gradient(0deg, rgba(0, 113, 185, 0.73), rgba(0, 113, 185, 0.73));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  .header-body__title {
    padding-top: 20vh;
    font-weight: bold;
    font-size: 93px;
    line-height: 124px;
    text-align: center;
    color: #FFFFFF; }
  .header-body__sub-title {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF; }
  .header-body__btn {
    display: block;
    position: relative;
    background: initial;
    border: 4px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 36px;
    color: #fff;
    font-weight: bold;
    font-size: 29px;
    line-height: 39px;
    text-align: center;
    padding: 10px 92px 10px 21px;
    margin: 6% auto 0;
    text-transform: uppercase;
    -webkit-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s; }
    .header-body__btn:after {
      content: '\eab8';
      font-family: IcoFont;
      display: block;
      position: absolute;
      right: 25px;
      top: calc(50% - 20px);
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background: #fff;
      color: #1B689B;
      font-weight: normal;
      text-align: center;
      padding-top: 2px;
      padding-left: 2px;
      -webkit-transition: right 1s;
      -o-transition: right 1s;
      transition: right 1s; }
    .header-body__btn:hover {
      padding: 10px 123px 10px 21px;
      -webkit-transition: padding 1s;
      -o-transition: padding 1s;
      transition: padding 1s; }
  .header-body__arrow {
    position: absolute;
    cursor: pointer;
    left: calc( 50% - 20px);
    bottom: 0; }
    .header-body__arrow i {
      color: #f1f1f1;
      font-size: 40px;
      color: rgba(255, 255, 255, 0.42);
      -webkit-transition: color 1s;
      -o-transition: color 1s;
      transition: color 1s; }
    .header-body__arrow:hover i {
      color: #fff;
      -webkit-transition: color 1s;
      -o-transition: color 1s;
      transition: color 1s; }

.main section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main .section-before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main .section-before__orange {
    background: #FFA615;
    width: 32%; }
  .main .section-before__blue {
    background: #3199DB;
    width: 32%; }
  .main .section-before__green {
    width: 32%;
    background: #93E237; }

.main .section-top .section-header {
  text-align: center;
  font-weight: 600;
  font-size: 54px;
  line-height: 72px;
  padding-top: 47px; }

.main .section-top .section-before {
  margin: 0 auto;
  max-width: 112px;
  height: 4px; }

.main .section-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 0; }
  .main .section-body .section-description {
    font-size: 29px;
    line-height: 34px;
    max-width: 375px; }
    .main .section-body .section-description .section-before {
      width: 50%;
      height: 8px;
      margin-bottom: 15px; }
  .main .section-body .two-slide-slider {
    min-width: 0;
    width: 53vw;
    max-width: 770px; }
    .main .section-body .two-slide-slider .two-slide-slider__slide {
      text-align: center; }
      .main .section-body .two-slide-slider .two-slide-slider__slide .data-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: -26px 0; }
        .main .section-body .two-slide-slider .two-slide-slider__slide .data-list__item {
          padding: 28px 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
      .main .section-body .two-slide-slider .two-slide-slider__slide .two-slide-slider__empty-map {
        max-width: 100%; }

.main .about-us .section-body {
  padding-top: 50px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .main .about-us .section-body .section-description .section-text {
    position: relative;
    z-index: 1; }
    .main .about-us .section-body .section-description .section-text:before {
      z-index: -1;
      content: ' ';
      display: block;
      background: url(../img/quotes.png);
      position: absolute;
      top: 20px;
      left: -70px;
      color: #FFFFFF;
      width: 123px;
      height: 101px; }
