p, span, a {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Exo', sans-serif;
}

$hover-text-color: #1B689B;

.container {
  max-width: 1440px;
  margin: 0 auto;
}


.header {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4% 16px 7%;

    .logo {
      &-img {
        max-width: 100%;
      }
    }

    .dd-menu {
      position: absolute;

      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      z-index: 3;
      box-shadow: 0 42px 22px rgba(0, 0, 0, 0.25);
      opacity: 0;
      transition: opacity  1s;

      &__bridge {
        height: 29px;
        background: initial;
      }

      &__item {
        text-align: center;
        padding: 11px 0;
        background: #FFFFFF;



        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
          cursor: pointer;

          .dd-menu__link {
            color: $hover-text-color;
          }
        }
      }

      &__link {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #000;
      }
    }

    .menu {
      margin-right: 80px;
      width: 44%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__item {
        text-align: center;

        .menu__link {
          color: #0B0B0B;
          font-size: 16px;
          line-height: 19px;
          font-weight: 500;

          &:hover {
            color: $hover-text-color;
          }
        }

        &:nth-child(3) {
          position: relative;


          &:after {
            content: "\ea6a";
            font-family: "IcoFont";
            font-size: 20px;
            cursor: pointer;

            //right: -25px;
            //top:calc(50% - 10px);
          }

          &:hover {
            //padding: 10px 0;

            .dd-menu {
              opacity: 1;
              transition: opacity 1s;
            }

            &:after {
              color: $hover-text-color;
              content: '\ea67';
            }

          }
        }
      }
    }


    .change-lang {
      position: relative;

      &:hover {
        padding: 10px 0;

        .dd-menu {
          opacity: 1;
          transition: opacity 1s;
        }

        .lang:before {
          color: $hover-text-color;
          content: '\ea67';
        }
      }


      .lang {
        text-transform: uppercase;

        &:before {
          content: "\ea6a";
          font-family: "IcoFont";
          font-size: 20px;
          cursor: pointer;
        }

        &:hover {
          color: $hover-text-color;
          cursor: pointer;


        }
      }
    }
  }

  &-body {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    width: 100%;
    position: relative;
    z-index: 1;



    .header-overlay {
      background-image: linear-gradient(0deg, rgba(0, 113, 185, 0.73), rgba(0, 113, 185, 0.73));;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    &__title {
      padding-top: 20vh;
      font-weight: bold;
      font-size: 93px;
      line-height: 124px;
      text-align: center;
      color: #FFFFFF;
    }

    &__sub-title {
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #FFFFFF;
    }

    &__btn{
      display: block;
      position: relative;
      background: initial;
      border: 4px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 36px;
      color:  #fff;
      font-weight: bold;
      font-size: 29px;
      line-height: 39px;
      text-align: center;
      padding: 10px 92px 10px 21px;
      margin: 6% auto 0;
      text-transform: uppercase;
      transition: padding 1s;

      &:after{
        content: '\eab8';
        font-family: IcoFont;
        display: block;
        position: absolute;
        right: 25px;
        top: calc(50% - 20px);
        width: 41px;
        height: 41px;
        border-radius: 50%;
        background: #fff;
        color: $hover-text-color;
        font-weight: normal;
        text-align: center;
        padding-top:2px;
        padding-left: 2px;
        transition: right 1s;
      }

      &:hover{
        padding: 10px 123px 10px 21px;
        transition: padding 1s;

      }
    }

    &__arrow{
      position: absolute;
      cursor: pointer;
      left: calc( 50% - 20px);
      bottom: 0;

      i{
        color: #f1f1f1;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.42);
        transition: color 1s;
      }

      &:hover{
        i{
          color: #fff;
          transition: color 1s;
        }
      }
    }
  }
}
.main{
section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


  .section-before{
    display: flex;
    justify-content: space-between;
    &__orange{
      background: #FFA615;
      width: 32%;
    }
    &__blue{
      background: #3199DB;
      width: 32%;
    }
    &__green{
      width: 32%;
      background: #93E237;
    }
  }

  .section-top{
    .section-header{
      text-align: center;
      font-weight: 600;
      font-size: 54px;
      line-height: 72px;
      padding-top: 47px;
    }
    .section-before{
      margin: 0 auto;
      max-width: 112px;
      height: 4px;
    }
  }

  .section-body{
    display: flex;
    align-items: center;
    min-width: 0;

    .section-description{
      font-size: 29px;
      line-height: 34px;
      max-width: 375px;
      //width: 26%;

      .section-before{
        width: 50%;
        height: 8px;
        margin-bottom: 15px;
      }
    }

    .two-slide-slider{
      min-width: 0;
      width: 53vw;
      max-width: 770px;
     .two-slide-slider__slide{
       text-align: center;

       .data-list{
         display: flex;
         flex-direction: column;
         align-items: stretch ;
         justify-content: space-between;

         &__item{

           display: flex;
           justify-content: space-evenly;
           align-items: center;
         }
       }

       .two-slide-slider__empty-map{
         max-width: 100%;
       }
     }
    }
  }

  .about-us{

    .section-body{
      padding-top: 50px;
      justify-content: space-evenly;

      .section-description{
        .section-text{
          position: relative;
          z-index: 1;


          &:before{
            z-index: -1;
            content: ' ';
            display: block;
            background: url(../img/quotes.png);
            position: absolute;
            top: 20px;
            left: -70px;
            color: #FFFFFF;
            width: 123px;
            height: 101px;
        }
        }
      }
    }
  }
}